/******************************************* TAG SELECTORS ***************************************************/
body {
  background-color: lightcyan;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #FA58B6;
  font-style: oblique;
}



h3 {
  color: #FA58B6;
  letter-spacing: 2px;
}

img{
  background-color: #AEFEFF;
}

/******************************************* CLASS SELECTORS ***************************************************/
.subheadings
{
  color:#009DAE;
}


/******************************************* ID SELECTORS ***************************************************/
#description
{
  font-size: 20px;
  font-style: oblique;
  color:#009DAE;
}
